<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcHmoNX37qH1n4XnNqpLpMoEhM2m3zQ0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>34187921016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notesapp173</string>
	<key>STORAGE_BUCKET</key>
	<string>notesapp173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34187921016:ios:4016a13f5e57bf5fb90f8d</string>
</dict>
</plist>